<div class="page-header">
  <h1>Todos</h1>
</div>

<table class="table table-striped datatable-todos">
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
      <th>Created Date</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>